.card:hover{
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	  transition: 0.5s;
}

.test{
background-color:chocolate !important;
}

nav{
	background-color: chocolate !important;
}

body{
	    font-family: barlow,sans-serif !important;
}

.nav-link{
	color: orangered;
}